<!-- Navbar-->
<header class="header">
  <nav class="navbar navbar-expand-lg fixed-top py-3">
    <div class="container">
      <!--<a href="#" class="navbar-brand text-uppercase font-weight-bold">
        SFINXLAND
      </a>-->
      <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right"><i class="fa fa-bars"></i></button>

      <div id="navbarSupportedContent" class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a href="#" class="nav-link text-uppercase font-weight-bold">Inicio<span class="sr-only">(current)</span></a></li>
          <li class="nav-item"><a href="#about" class="nav-link text-uppercase font-weight-bold">Acerca de</a></li>
          <!--  <li class="nav-item"><a href="#gallery" class="nav-link text-uppercase font-weight-bold">Galería</a></li>-->
          <li class="nav-item"><a href="#staff" class="nav-link text-uppercase font-weight-bold">Staff</a></li>
          <li class="nav-item"><a href="#contact" class="nav-link text-uppercase font-weight-bold">Contacto</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<div class="site-cover overlay">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-md-8 mt-lg-5 text-center">
        <img src="assets/img/SFINXLAND-LOGO.png" alt="SFINXLAND" class="img-fluid">
      </div>
    </div>
  </div>
</div>

<div id="about">
  <div class="about">
    <h1>Nuestro servidor</h1>
    <p></p>
    <hr>
    <div class="row features">
      <div class="col-md-4">
        <i class="fab fa-cloudscale feature">
          <h2>Somos rápidos</h2>
          <p>Nuestros servidores son tan rápido como Usain Bolt</p>
        </i>
      </div>
      <div class="col-md-4">
        <i class="fas fa-users feature">
          <h2>Excelente comunidad</h2>
          <p>Nuestra comunidad es seleccionada y moderada correctamente para hacer mejor tu experiencia</p>
        </i>
      </div>
      <div class="col-md-4">
        <i class="fas fa-signal feature">
          <h2>Siempre online</h2>
          <p>Pusimos tanto esfuezo para mantener el servidor conectado el 99.9% de tiempo. Así podrás jugar cuando quieras</p>
        </i>
      </div>
      <div class="col-md-4">
        <i class="fas fa-weight-hanging feature">
          <h2>Forge</h2>
          <p>Usamos forge para administrar los mods en nuestro servidor</p>
        </i>

      </div>
      <div class="col-md-4">
        <i class="feature fas fa-coins">
          <h2>Sistema monetario</h2>
          <p>Creamos un sistema monetario para que puedas comprar tus propios items</p>
        </i>
      </div>
      <div class="col-md-4">
        <i class="fas fa-code feature">
          <h2>MODS personalizados</h2>
          <p>Somos desarrolladores, así que creamos un mod para darte un mejor roleplay si así lo gustas</p>
        </i>
      </div>
    </div>
  </div>

  <div class="section-image parallax" style="background-image: url('assets/img/section-image2.png')">
    <h1>Contáctanos para pasarte los accesos</h1>
  </div>
</div>

<div class="staff" id="staff">
  <div class="container">
    <h1>NUESTRO STAFF</h1>
    <p>Los miembros que hacen posible nuestro servidor</p>
    <hr>
    <div class="row stafflist">
      <div class="col-md staffblock">
        <img src="assets/img/staff/EKISDEMX.png" alt="EKISDEMX">
        <h2>EKISDEMX</h2>
        <p>Owner</p>
      </div>

      <div class="col-md staffblock">
        <img src="assets/img/staff/oniondm.png" alt="OnionDM">
        <h2>OnionDM</h2>
        <p>Admin</p>
      </div>

      <div class="col-md staffblock">
        <img src="assets/img/staff/quest.png" alt="">
        <h2>EN BUSCA</h2>
        <p>Moderador</p>
      </div>

      <div class="col-md staffblock">
        <img src="assets/img/staff/quest.png" alt="">
        <h2>EN BUSCA</h2>
        <p>Moderador</p>
      </div>
    </div>

  </div>
</div>
<div id="contact">
  <div class="section-image parallax" style="background-image: url('assets/img/section-image1.png')">
    <h1>Tienes dudas?</h1>
    <h2>
      Envíanos un mail a
      <i>
        <a href="mailto:contacto@alex-escobar.com?subject=Duda server SFINXLAND">
          contacto@alex-escobar.com
        </a>
      </i>
    </h2>
  </div>
  <div class="contact">
    <h1>Contacto</h1>
    <p>Únete a nuestro servidor de discord</p>
    <hr>
    <div class="row contact-section">
      <div class="col-md">
        <a href="https://discord.gg/2C4mEcM" target="_blank">
          <img class="res-img-sm" src="assets/img/discord-logo.png" alt="discord">
        </a>
      </div>
    </div>
  </div>
</div>


<!--============ FOOTER ==============-->
<footer>
  <div class="footer">
    <div class="copyright">
      <p>Copyright &copy;{{year}} Todos los derechos reservados|<a href="https://alex-escobar.com" target="_blank">Alex Escobar</a></p>

    </div>
  </div>
</footer>
